#videoBg {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}
.parent {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 75vh;
}
